<section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded" style="background-color: #f7f6f4; height: 100vh; overflow-y: hidden;">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <h5 class="mb-4 fw-bold">OnlyChat V1</h5>
            <div class="col">
              <p class="text-muted fw-light mb-4">
                Online Messaging System Project using .Net Core 6 Web Api with Angular 16 to develop a chatting system that enable 
                user to communicate in a chat group.<br>
                OnlyChat Version 1 temporary allows user to communicate only via text medium.<br>
                Stay tuned for incoming version updates.<br><br>
                Thank you for being with us.
              </p>
              <hr>
              <p class="fw-bold lead mb-2"><strong>Joe Chow</strong></p>
              <p class="fw-bold text-muted mb-0">Project Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>