<section class="vh-100" style="background-color: #f7f6f4;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3 h-100" style="border-radius: .5rem;">
            <div class="row g-0" *ngIf="user">
              <div class="col-md-4 gradient-custom text-center text-white d-flex align-items-center justify-content-center"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" /> -->
                    <div>
                        <h5>{{user.firstname}} {{user.lastname}}</h5>
                        <p>{{user.userName}}</p>
                    </div>
                <!-- <i class="far fa-edit mb-5"></i> -->
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">

                  <div class="row pt-1">
                    <div class="col mb-3">
                        <h6>ID</h6>
                        <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.id" placeholder="{{user.id}}" readonly>
                    </div>
                  </div>

                  <div class="row pt-1">
                    <div class="col mb-3">
                        <h6>Username</h6>
                        <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.userName" value="{{user.userName}}">
                    </div>
                  </div>

                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Firstname</h6>
                      <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.firstname" value="{{user.firstname}}">
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Lastname</h6>
                      <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.lastname" value="{{user.lastname}}">
                    </div>
                  </div>

                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="user.email" value="{{user.email}}">
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.phoneNumber" value="{{user.phoneNumber}}">
                    </div>
                  </div>
                  
                  <div class="text-center mt-3">
                    <button class="btn btn-primary mx-1" (click)="UpdateUser()">Save Changes</button>
                    <button class="btn btn-danger mx-1" (click)="DeleteUser()">Delete Account</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>